<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.oms.pms.persist.ProductDao">

<select id="selectOne" resultType="Product" parameterType="int">
<![CDATA[
SELECT TOP 1 
	ProductID as ProductId,
	ProductName,
	SupplierID as SupplierId,
	QuantityPerUnit,
	UnitPrice,
	UnitsInStock,
	UnitsOnOrder,
	ReorderLevel,
	Discontinued
FROM Products
WHERE 
	ProductID=#{id}
]]>
</select>

<update id="update" parameterType="Product">
<![CDATA[
UPDATE Products
SET
	ProductName=#{productName},
	SupplierID=#{supplierId},
	QuantityPerUnit=#{quantityPerUnit},
	UnitPrice=#{unitPrice},
	UnitsInStock=#{unitsInStock},
	UnitsOnOrder=#{unitsOnOrder},
	ReorderLevel=#{reorderLevel},
	Discontinued=#{discontinued}
WHERE
	ProductID=#{productId}
]]>
</update>

<select id="selectProductByName" parameterType="string" resultType="Product" >
<![CDATA[
SELECT TOP 1 
	ProductID as ProductId,
	ProductName,
	SupplierID as SupplierId,
	QuantityPerUnit,
	UnitPrice,
	UnitsInStock,
	UnitsOnOrder,
	ReorderLevel,
	Discontinued
FROM Products
WHERE 
	ProductName=#{name}
]]>
</select>

<select id="selectAll" resultType="Product">
<![CDATA[
SELECT 
	ProductID as ProductId,
	ProductName
FROM Products
]]>
</select>


</mapper>