/***----------全局----------***/
body
{
	font-size: 12px;
	font-family: arial,sans-serif,宋体;
	background: #fff;
}
.x-loading
{
	height: 22px;
	border: solid 1px #99bbe8;
	background: #bfd4f0;
	padding: 2px;
	font-size: 12px;
}
.x-loading-in
{
	height: 16px;
	border: solid 1px #99bbe8;
	padding-left: 22px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #fff url(img/loading.gif) no-repeat 4px center;
}
.x-invalid-text
{
	line-height: 21px;
	color: Red;
}

.x-border
{
    border: solid 1px #99bbe8;
}

/***----------各种警告框----------***/
/*{*/
.x-alert
{
	padding: 10px;
}
.x-alert-icon-warning
{
	width: 32px;
	height: 32px;
	background: transparent url(img/alert/warning.png) no-repeat;
	margin-right: 20px;
}
.x-alert-icon-info
{
	width: 32px;
	height: 32px;
	background: transparent url(img/alert/info.png) no-repeat;
	margin-right: 10px;
}
.x-alert-icon-error
{
	width: 32px;
	height: 32px;
	background: transparent url(img/alert/error.png) no-repeat;
	margin-right: 20px;
}
.x-alert-icon-question
{
	width: 32px;
	height: 32px;
	background: transparent url(img/alert/question.png) no-repeat;
	margin-right: 20px;
}
.x-alert-text
{
	margin-bottom: 10px;
}

.x-form-td
{
    padding: 5px;
}
.x-label-star
{
    color: Red;
}
/*}*/

/***----------按钮----------***/
/*{*/
.x-button-left
{
	padding-left: 18px;
	cursor: pointer;
	background: transparent url(img/form/btn-sprite.gif) no-repeat 0px 0px;
}
.x-button-right
{
	padding-right: 18px;
	background: transparent url(img/form/btn-sprite.gif) no-repeat right -24px;
}
.x-button-center
{
	font: 12px arial,sans-serif,宋体;
	color: #000;
	height: 24px;
	line-height: 24px;
	background: transparent url(img/form/btn-sprite.gif) repeat-x 0px -48px;
}
.x-button-text
{
}
.x-button-icon
{
    width: 16px;
    height: 16px;
    margin-right: 3px;
}
.x-button-over .x-button-left
{
	background-position: 0px -72px;
}

.x-button-over .x-button-center
{
	background-position: 0px -120px;
}

.x-button-over .x-button-right
{
	background-position: right -96px;
}
.x-button-click .x-button-left
{
	background-position: 0px -144px;
}
.x-button-click .x-button-center
{
	background-position: 0px -192px;
}
.x-button-click .x-button-right
{
	background-position: right -168px;
}
.x-button-focus .x-button-left
{
	background-position: 0px -144px;
}
.x-button-focus .x-button-center
{
	background-position: 0px -192px;
}
.x-button-focus .x-button-right
{
	background-position: right -168px;
}
/*}*/

/***----------文本框----------***/
/*{*/
.x-textbox
{
	width: 150px;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	border: solid 1px #b5b8c8;
	outline: none 0px;
	background: #fff url(img/form/text-bg.gif) repeat-x 0px 0px;
}
.x-textarea
{
	width: 150px;
	height: auto;
	font-size: 12px;
	line-height: 21px;
	border: solid 1px #b5b8c8;
	outline: none 0px;
	background: #fff url(img/form/text-bg.gif) repeat-x 0px 0px;
}
.x-textbox-empty
{
    margin: 1px;
	color: gray;
}
.x-textbox-maxtip
{
	color: Red;
}
.x-textbox-invalid
{
	border: solid 1px red;
	background: transparent url(img/form/redwave.gif) repeat-x left bottom;
}
/*}*/

/***----------复选框----------***/
.x-checkbox
{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent url(img/form/checkbox.png) no-repeat;
}
.x-checkbox-checked
{
    background-position: -16px 0px;
}
.x-checkbox-half
{
    background-position: -32px 0px;
}

/***----------组合框----------***/
/*#region*/
.x-combobox
{
	font-size: 12px;
	font-family: arial,sans-serif,宋体;
	font-weight: normal;
}
.x-combobox-picker
{
	margin-right: 2px;
	width: 15px;
	right: 2px;
	background: transparent url(img/form/trigger.gif) no-repeat 0px center;
	cursor: pointer;
}
.x-combobox-picker-over
{
	background-position: -30px center;
}
.x-drop-list
{
	border-top: solid 1px #98c0f4;
	border-bottom: solid 1px #98c0f4;
	border-left: solid 1px #98c0f4;
	border-right: solid 1px #98c0f4;
	background: white;
}
.x-drop-item
{
	padding: 0px 3px;
	cursor: pointer;
	height: 21px;
	line-height: 21px;
}
.x-drop-item-first
{
	border-top: none 0px;
}
.x-drop-item-hover
{
	background: #fafafa;
}
.x-drop-item-selected
{
	background: #FBEC88;
}
.x-drop-item-disabled
{
    color: Gray;
}
.x-drop-btnok
{
	border-bottom: solid 1px #98c0f4;
	border-left: solid 1px #98c0f4;
	border-right: solid 1px #98c0f4;
	background: white;
	padding: 3px;
}
/*#endregion*/

/***----------时间选择框----------***/
/*#region*/
.x-datetimer-picker
{
	width: 16px;
	margin-right: 1px;
	background: transparent url(img/form/datePicker.gif) no-repeat 0px center;
}
.x-ds
{
	font: 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 189px;
	border: solid 1px #718BB7;
	background: #ffffff;
}
.x-ds-top
{
	background-color: #1e3c73;
	color: #ffffff;
	padding: 0px 3px;
}
.x-ds-year-prev
{
	width: 15px;
	height: 15px;
	background: transparent url(img/form/timerbtn.png) 0px 0px;
	margin: 0px 2px;
	cursor: pointer;
}
.x-ds-month-prev
{
	width: 15px;
	height: 15px;
	background: transparent url(img/form/timerbtn.png) -15px 0px;
	margin: 0px 2px;
	cursor: pointer;
}
.x-ds-month-next
{
	width: 15px;
	height: 15px;
	background: transparent url(img/form/timerbtn.png) -30px 0px;
	margin: 0px 2px;
	cursor: pointer;
}
.x-ds-year-next
{
	width: 15px;
	height: 15px;
	background: transparent url(img/form/timerbtn.png) -45px 0px;
	margin: 0px 2px;
	cursor: pointer;
}
.x-ds-text
{
	color: White;
	background: Transparent;
	text-align: center;
	border-style: none;
	cursor: pointer;
	vertical-align: middle;
}
.x-ds-text-focus
{
	color: Black;
	background-color: White;
}
.x-ds-menu
{
	border: solid 1px #718BB7;
	background-color: White;
	color: #11777c;
	font-family: Cambria;
	cursor: pointer;
}
.x-ds-menu-on
{
	background-color: #b3ceef;
}
.x-ds-week
{
	background-color: #d2dff0;
	height: 19px;
	border-bottom: solid 1px #a3bad9;
}
.x-ds-days
{
	font-weight: bold;
}
.x-ds-day
{
	color: Black;
	text-align: center;
	cursor: pointer;
}
.x-ds-other
{
	color: Gray;
	text-align: center;
	cursor: pointer;
}
.x-ds-disabled
{
	color: Gray;
	text-align: center;
	cursor: default;
}
.x-ds-day-on
{
	background-color: #74d2d9;
}
.x-ds-day-current
{
	background-color: #74d2d9;
}
.x-ds-day-disabled
{
	color: Gray;
}
.x-ds-bottom
{
	background-color: #d2dff0;
	border-top: solid 1px #a3bad9;
	padding: 3px;
}
.x-ds-button
{
	background-color: #1e3c73;
	border: outset 1px #1e3c73;
	color: White;
	cursor: pointer;
	margin: 0px 2px;
	width: 40px;
	vertical-align: middle;
}
/*#endregion*/

/***----------布局控件样式表----------***/
/*#region*/
.x-layout-north-split, .x-layout-south-split
{
	height: 5px;
	overflow: hidden;
}
.x-layout-west-split, .x-layout-east-split
{
	width: 5px;
	overflow: hidden;
}
.x-layout-north-resizable
{
	cursor: n-resize;
}
.x-layout-west-resizable
{
	cursor: w-resize;
}
.x-layout-east-resizable
{
	cursor: e-resize;
}
.x-layout-south-resizable
{
	cursor: s-resize;
}
.x-layout-top-spliticon
{
	width: 35px;
	height: 5px;
	cursor: pointer;
	background-image: url(img/layout/top.gif);
}
.x-layout-collapsed .x-layout-top-spliticon
{
	width: 35px;
	height: 5px;
	cursor: pointer;
	background-image: url(img/layout/bottom.gif);
}
.x-layout-bottom-spliticon
{
	width: 35px;
	height: 5px;
	cursor: pointer;
	background-image: url(img/layout/bottom.gif);
}
.x-layout-collapsed .x-layout-bottom-spliticon
{
	width: 35px;
	height: 5px;
	cursor: pointer;
	background-image: url(img/layout/top.gif);
}
.x-layout-left-spliticon
{
	width: 5px;
	height: 35px;
	cursor: pointer;
	background-image: url(img/layout/left.gif);
}
.x-layout-collapsed .x-layout-left-spliticon
{
	width: 5px;
	height: 35px;
	cursor: pointer;
	background-image: url(img/layout/right.gif);
}
.x-layout-right-spliticon
{
	width: 5px;
	height: 35px;
	cursor: pointer;
	background-image: url(img/layout/right.gif);
}
.x-layout-collapsed .x-layout-right-spliticon
{
	width: 5px;
	height: 35px;
	cursor: pointer;
	background-image: url(img/layout/left.gif);
}
/*#endregion*/

/***----------面板控件样式表----------***/
/*#region*/
.x-panel
{
	border: solid 1px #99bbe8;
}
.x-panel-head
{
	background: url(img/title-bg.png) 0px -1px;
	height: 25px;
	line-height: 25px;
	border-bottom: solid 1px #99bbe8;
	overflow: hidden;
}
.x-panel-title
{
	margin-left: 10px;
	color: #15428b;
	font-weight: bold;
}
.x-panel-icon
{
	padding-left: 18px;
	background-position: left center;
}
.x-panel-toolbar
{
	padding-right: 3px;
}
.x-panel-toolitem
{
	cursor: pointer;
	margin: 0px 2px;
    padding: 0px 3px;
}
.x-panel-toolitem-hover
{
    padding: 0px 2px;
	border-left: solid 1px #C3AB7A;
	border-right: solid 1px #C3AB7A;
	background: url(img/toolbar/toolbar_bg.jpg) repeat-x 0px -121px;
}
.x-panel-toolicon
{
    padding-left: 18px;
	background-position: 0px center;
	background-repeat: no-repeat;
}
.x-panel-collapsebutton
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: transparent url(img/layer/tool-sprites.gif) no-repeat 0px -45px;
	margin-left: 1px;
	margin-right: 1px;
}
.x-panel-collapsebutton-hover
{
	background-position: -15px -45px;
}
.x-panel-collapsed .x-panel-collapsebutton
{
	background-position: 0px -60px;
}
.x-panel-collapsed .x-panel-collapsebutton-hover
{
	background-position: -15px -60px;
}
.x-panel-close
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: transparent url(img/layer/tool-sprites.gif) no-repeat 0px 0px;
	margin-left: 1px;
	margin-right: 1px;
}
.x-panel-close-hover
{
	background-position: -15px 0px;
}
/*#endregion*/

/***----------导航控件样式表----------***/
/*#region*/
.x-navbar
{
	border: solid 1px #99bbe8;
}
.x-navbar-group
{
	background: url(img/navbar/group-bg.gif) repeat-x 0px -1px;
	border-top: solid 1px #99bbe8;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
}
.x-navbar-group-first
{
	border-top: none 0px;
}
.x-navbar-group-last
{
	border-bottom: solid 1px #99bbe8;
	margin-bottom: -1px;
}
.x-navbar-group-expanded
{
	border-bottom: solid 1px #99bbe8;
}
.x-navbar-group-icon
{
    width: 16px;
    height: 16px;
}
.x-navbar-group div
{
	margin: 5px 0px 5px 10px;
}
.x-navbar-group-over
{
	background-image: url(img/navbar/group-open-bg.jpg);
	background-position: 0px -1px;
}
.x-navbar-group-selected
{
	background-image: url(img/navbar/group-open-bg.jpg);
	background-position: 0px -29px;
	color: #fff;
}
.x-navbar-item
{
	font-size: 12px;
	padding: 0px 10px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.x-navbar-item-icon
{
    width: 16px;
    height: 16px;
}
.x-navbar-item-hover
{
	background: #eee;
}
.x-navbar-item-selected
{
	background: #FBEC88;
}
/*#endregion*/

/***----------气泡弹窗样式表----------***/
/*#region*/
.x-bubble
{
	border: solid 1px #ccc;
	position: absolute;
	background-color: #fff;
	width: 300px;
}
.x-bubble-arrow
{
	position: absolute;
	left: -16px;
	top: 20px;
	width: 17px;
	height: 30px;
	background: url(img/bubble-arrow.png) no-repeat 0px -212px;
}
.x-bubble-body
{
	padding: 5px;
}
.x-bubble-toolbar
{
	right: 3px;
}
.x-bubble-close
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: transparent url(img/bubble-arrow.png) no-repeat -71px -111px;
	margin-left: 1px;
	margin-right: 1px;
}
.x-bubble-close-hover
{
}
/*#endregion*/

/***----------列表控件样式表----------***/
/*#region*/
.x-grid
{
}
.x-grid-sort-asc
{
	background: url(img/grid/sort-sprites.gif) no-repeat -13px center;
	width: 13px;
	height: 5px;
}
.x-grid-sort-desc
{
	background: url(img/grid/sort-sprites.gif) no-repeat 0px center;
	width: 13px;
	height: 5px;
}
.x-grid-head-th
{
    height: 25px;
	padding: 0px 3px;
	border-right: solid 1px #ddd;
	background: #fafafa url(img/grid/head-bg.gif) repeat-x left bottom;
}
.x-grid-head-th div
{
    height: 25px;
    line-height: 25px;
}
.x-grid-head-th-sortable
{
	text-decoration: underline;
	cursor: pointer;
}
.x-grid-list-row
{
	background-color: #fff;
}
.x-grid-list-row-even
{
	background-color: #f5f8fc;
}
.x-grid-list-row-hover
{
	background-color: #D0E5F5;
}
.x-grid-list-row-stress
{
	font-weight: bold;
}
.x-grid-list-row-selected
{
	background-color: #FBEC88;
}
.x-grid-list-td
{
	padding: 3px;
	border-bottom: dotted 1px #ddd;
	border-right: dotted 1px #ddd;
}
.x-grid-list-td-empty
{
    padding: 5px;
}
.x-grid-line-horizontal .x-grid-list-td
{
	border-right: none 0px;
}
.x-grid-line-vertical .x-grid-list-td
{
	border-bottom: none 0px;
}
.x-grid-line-none .x-grid-list-td
{
	border-bottom: none 0px;
	border-right: none 0px;
}
/*#endregion*/

/***----------翻页控件样式表----------***/
/*#region*/
.x-pager
{
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	padding-right: 10px;
	background: #efefef;
}
.x-pager-link
{
	margin-left: 2px;
	margin-right: 2px;
	text-decoration: underline;
	color: Blue;
	cursor: pointer;
}
.x-pager-unlink
{
	margin-left: 2px;
	margin-right: 2px;
	text-decoration: none;
	color: gray;
}
.x-pager td
{
	padding-left: 1px;
	padding-right: 1px;
}
.x-pager-btn-separator
{
	height: 16px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 0px 3px;
}
.x-pager-btn
{
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.x-pager-btn-disabled
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: default;
}
.x-pager-btn-first
{
	background: url(img/pager/btn-first.gif) no-repeat;
}
.x-pager-btn-prev
{
	background: url(img/pager/btn-prev.gif) no-repeat;
}
.x-pager-btn-next
{
	background: url(img/pager/btn-next.gif) no-repeat;
}
.x-pager-btn-last
{
	background: url(img/pager/btn-last.gif) no-repeat;
}
.x-pager-btn-load
{
	background: url(img/pager/btn-load.png) no-repeat;
}
.x-pager-num-input
{
	width: 50px;
	height: 16px;
	line-height: 16px;
}
/*#endregion*/

/***----------树控件样式表----------***/
/*#region*/
.x-tree
{
	border: solid 1px #99bbe8;
}
.x-tree-node
{
	height: 23px;
	line-height: 23px;
	position: relative;
}
.x-tree-hover
{
	background: #eee;
}
.x-tree-selected
{
	background: #FBEC88;
}
.x-tree-pad
{
	width: 16px;
	height: 16px;
}
.x-tree-collapsed
{
	background: transparent url(img/tree/tree-sprites.gif) no-repeat -16px 0px;
}
.x-tree-expanded
{
	background: transparent url(img/tree/tree-sprites.gif) no-repeat 0px 0px;
}
.x-tree-leaf
{
	background: transparent url(img/tree/tree-icon-sprites.gif) no-repeat 0px 0px;
}
.x-tree-folder
{
	background: transparent url(img/tree/tree-icon-sprites.gif) no-repeat -32px 0px;
}
.x-tree-folder-expanded
{
	background: transparent url(img/tree/tree-icon-sprites.gif) no-repeat -16px 0px;
}
.x-tree-tools
{
	position: absolute;
	z-index: 100;
	right: 0px;
    margin-left: 3px;
    border: solid 1px #99bbe8;
    background-color: #ccc;
    display: inline-block;
    height 16px;
    line-height: 16px;
}
.x-tree-toolitem
{
    display: block;
    height 16px;
    line-height: 16px;
    margin:1px;
}
.x-tree-toolitem-hover
{
    background-color: #ccc;
}
/*#endregion*/

/***----------弹出层控件样式表----------***/
/*#region*/
.x-layer
{
	width: 400px;
	font-size: 12px;
	font-family: arial,sans-serif,宋体;
	background: #fff;
}
.x-layer-topleft
{
	width: 6px;
	height: 26px;
	background: transparent url(img/layer/left-corners.gif) no-repeat top left;
}
.x-layer-topcenter
{
	background: transparent url(img/layer/top-bottom.gif) repeat-x top left;
}
.x-layer-topright
{
	width: 6px;
	height: 26px;
	background: transparent url(img/layer/right-corners.gif) no-repeat top right;
}
.x-layer-middleleft
{
	width: 6px;
	background: transparent url(img/layer/left-right.gif) repeat-y top left;
}
.x-layer-middlecenter
{
	background-color: #fff;
}
.x-layer-middleright
{
	width: 6px;
	background: transparent url(img/layer/left-right.gif) repeat-y top right;
}
.x-layer-bottomleft
{
	width: 6px;
	height: 6px;
	background: transparent url(img/layer/left-corners.gif) no-repeat bottom left;
}
.x-layer-bottomcenter
{
	background: transparent url(img/layer/top-bottom.gif) repeat-x bottom left;
}
.x-layer-bottomright
{
	width: 6px;
	background: transparent url(img/layer/right-corners.gif) no-repeat bottom right;
}
.x-layer-collapsebutton
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: transparent url(img/layer/tool-sprites.gif) no-repeat 0px -45px;
	margin-left: 1px;
	margin-right: 1px;
}
.x-layer-collapsebutton-hover
{
	background-position: -15px -45px;
}
.x-layer-collapsed .x-layer-collapsebutton
{
	background-position: 0px -60px;
}
.x-layer-collapsed .x-layer-collapsebutton-hover
{
	background-position: -15px -60px;
}
.x-layer-maxbutton
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: transparent url(img/layer/tool-sprites.gif) no-repeat 0px -15px;
	margin-left: 1px;
	margin-right: 1px;
}
.x-layer-maxed .x-layer-maxbutton
{
	background-position: 0px -30px;
}
.x-layer-maxbutton-hover
{
	background-position: -15px -15px;
}
.x-layer-maxed .x-layer-maxbutton-hover
{
	background-position: -15px -30px;
}
.x-layer-closebutton
{
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: transparent url(img/layer/tool-sprites.gif) no-repeat 0px 0px;
	margin-left: 1px;
	margin-right: 1px;
}
.x-layer-closebutton-hover
{
	background-position: -15px 0px;
}
/*#endregion*/

/***----------工具条样式表----------***/
/*#region*/
.x-toolbar
{
	border: solid 1px #99bbe8;
	height: 24px;
	padding: 2px 3px 4px 3px;
	background: url(img/toolbar/toolbar_bg.jpg) repeat-x;
}
.x-toolbar-item
{
	cursor: pointer;
	padding: 1px;
}
.x-toolbar-item-hover
{
	padding: 0px;
	border: solid 1px #C3AB7A;
	background: url(img/toolbar/toolbar_bg.jpg) repeat-x 0px -121px;
}
.x-toolbar-item-down
{
	padding: 0px;
	border: solid 1px #8B7654;
	background: url(img/toolbar/toolbar_bg.jpg) repeat-x 0px -194px;
}
.x-toolbar-item-text
{
	margin: 0px 3px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
}
.x-toolbar-item-icon
{
	padding-left: 20px;
	background-position: 0px center;
	background-repeat: no-repeat;
}
.x-toolbar-split
{
	width: 0px;
	margin: 0px 3px;
	height: 20px;
	border-left: #9AC6FF 1px solid;
	border-right: #FFFFFF 1px solid;
	vertical-align: middle;
}
/*#endregion*/

/*{标签卡控件样式*/
.x-tab
{
    border: solid 1px #99bbe8;
}
.x-tab-head
{
    border-bottom: solid 1px #99bbe8;
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    background-color: rgb(224, 236, 255);
    text-align:left;
}
.x-tab-tools
{
    padding: 3px;
}
.x-tab-item
{
    font: 12px arial,sans-serif,宋体;
    color: #000;
    cursor: pointer;
    padding-left: 10px;
    background: url(img/tab/tab_bg.gif) no-repeat 0px -150px;
}
.x-tab-item-right
{
    padding-right: 10px;
    background: url(img/tab/tab_bg.gif) no-repeat right -200px;
}
.x-tab-item-center
{
    padding: 3px;
    height: 17px;
    line-height: 17px;
    background: url(img/tab/tab_bg.gif) repeat-x 0px -175px;
}
.x-tab-item-hover
{
    background-position: 0px -75px;
}
.x-tab-item-hover .x-tab-item-center
{
    background-position: 0px -100px;
}
.x-tab-item-hover .x-tab-item-right
{
    background-position: right -125px;
}
.x-tab-item-selected
{
    position: relative;
    top: 1px;
    background-position: 0px 0px;
}
.x-tab-item-selected .x-tab-item-center
{
    background-position: 0px -25px;
}
.x-tab-item-selected .x-tab-item-right
{
    background-position: right -50px;
}
.x-tab-item-icon
{
    width: 16px;
    height: 16px;
    margin-right: 1px;
}
.x-tab-item-text
{
}
.x-tab-item-mask
{
    background-color: #fff;
}
.x-tab-body
{
}
/*}*/

.x-uploader
{
}
.x-uploader-table
{
	border: solid 1px #99bbe8;
}
.x-uploader-th
{
	border-left: solid 1px #99bbe8;
	padding:3px;
}
.x-uploader-td
{
	padding:3px;
	border-left: solid 1px #99bbe8;
	border-top: solid 1px #99bbe8;
}
